<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
     <a href="{{url_for('data')}}">
        <button>Add</button>
    </a>

    {%for data in data%}
    <h4>{{data.name}}</h4>
    <h4>{{data.age}}</h4>
    
    <a href="{{url_for('edit',names=data.name)}}">
        <button>edit</button>
    </a>
    <a href="{{url_for('delete',name=data.name)}}">
        <button>delete</button>
    </a>
    
    {%endfor%}
    
</body>
</html>